<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <ConfigSections>
    <!-- For more information on Entity Framework Configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </ConfigSections>
  <ConnectionStrings>
    <add name="EmployeesEntities" ConnectionString="metadata=res://*/EntitiesEmployee.csdl|res://*/EntitiesEmployee.ssdl|res://*/EntitiesEmployee.msl;provider=System.Data.SqlClient;provider Connection string=&quot;data source=DESKTOP-KRUUBAB\YOUSEFSQL;initial catalog=Employees;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </ConnectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalConConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocalCon" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</Configuration>
